<Files "functions.php">
    Require all denied
</Files>

<Files "header.php">
    Require all denied
</Files>

<Files "footer.php">
    Require all denied
</Files>

<FilesMatch "\.(png|jpg|js|json|css|map)$">
    Require all denied
</FilesMatch>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]