<Files "functions.php">
    Require all denied
</Files>

<Files "header.php">
    Require all denied
</Files>

<Files "footer.php">
    Require all denied
</Files>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]